---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard-ingress-tls
  namespace: {{ namespaces.traefik }}

spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ traefik_hostname }}.{{ domain }}`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      kind: Rule
      services:
        - name: traefik-internal
          namespace: {{ namespaces.traefik }}
          port: 9000
      middlewares:
        - name: dashboard-basic-auth
          namespace: {{ namespaces.traefik }}
